*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
     
}
.header{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)),url(sharon-mccutcheon-eMP4sYPJ9x0-unsplash.jpg) ;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}
.nav-bar{
    display: flex;
    padding: 40px 120px;

}
.nav-links{
    flex: 1;
}
.nav-links ul{
    margin-left: 50px;
    display: inline;
} 
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 20px;


}
.nav-links ul a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: yellow;
    display: block;
    margin: auto;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.bann-title{
    margin: 80px 130px;
    color: #fff;

}
.bann-title h1{
    font-size: 50px;
    margin-bottom: 30px;


}
.bann-title h1 span{
    color: yellow;
    font-size: 60px;
}

.bann-title p{
    font-size: 12px;
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.3px;
    line-height: 20px;
}
.nav-bar .fa{
    display: none;
}