body
{
    min-height: 100vh;
    width: 100%; 
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(sharon-mccutcheon-eMP4sYPJ9x0-unsplash.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
}