body
{
    min-height: 100vh;
    width: 100%; 
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(sharon-mccutcheon-eMP4sYPJ9x0-unsplash.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
}
.back_button 
{

border:1px solid #3498db;
background-color:black;
color:white;
height:30px;
width:1000px;
border-radius:5px;
margin:0px;
transition:all 0.3s;
font-size: 35px;

}


.back_button:hover
{
transform: scale(1.1);
}

h2
{
font-size: 45px;
font-family: arial; 
color:aliceblue;   
}

h3
{
font-size: 25px;
font-family: sans-serif;
color:aliceblue;
}