*:focus{
    outline:none;
    
}
#background{
    min-height: 100vh;

    width: 100%;

    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./backimg/sharon-mccutcheon-eMP4sYPJ9x0-unsplash\ \(2\).jpg);

    background-position: center;

    background-size: cover;

     position:fixed;
}