*:focus{
    outline:none;
    
}
#background{
    min-height: 100vh;

    width: 100%;

    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./backimg/sharon-mccutcheon-eMP4sYPJ9x0-unsplash\ \(2\).jpg);

    background-position: center;

    background-size: cover;

     position:fixed;
}
.box{
    box-sizing: border-box;
    width:153px;
    height:153px;
    border: 2px solid #3498db;
    box-shadow: -3px -3px 7px #ffffff73,
                3px 3px 5px rgba(94,104,121,0.288);
    border-radius:50%;
    background-color: black;
    margin-top:20px;
    overflow:hidden;
    transition:all 1s;
}