*{
    margin: 0;
    padding: 0;
    
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./Background\ image/);
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: 'Montserrat', sans-serif;

}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}
nav img{
    width: 150px;
    height: 100px;

}
.nav-links
{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px ;
    position: relative;
}
.nav-links ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.search{
    
    width: 500px;
    float: left;
    margin-left: 350px;
    
}
.srch{
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    height: 50px;
    background: transparent;
    border: 2px solid rgb(230, 235, 236);
    margin-top: 4px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btnn{
    width: 100px;
    height: 50px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 4px;
    color: #fff;
    font-size: 15px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.3px;
    line-height: 30px;
}
.content h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}
.content .butn{
    width: 180px;
    height: 50px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;

}
.content .butn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}
.but:hover{
    background-color: #fff;
}
.content span{
    color: #ff7200;
    font-size: 80px;
}
.form-container{
    max-width: 300px;
    height: 200px;
    padding: 10px;
    background-color: black;
    display: none;
}
.form-container .btnu{
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}
.form-container .btnu:hover{
    opacity: 1;
}